<plex-box>
    <div class="row text-center">
        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="boton color-salmon" routerLink="/servSalud">
                <i class="icono mdi mdi-hotel"></i>
                <div class="titulo">ServSalud</div>
                <div class="subtitulo">Herramientas</div>
                <div class="detalle">
                    <br />para gestionar la exportacion de reportes diarios mensual.
                </div>
            </div>
        </div>
    </div>
</plex-box>
