<plex-box>
    <div class="row text-center">
        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="boton color-celeste" routerLink="/servSalud/reporte">
                <i class="icono mdi mdi-table-large"></i>
                <div class="titulo">Reporte</div>
                <div class="subtitulo">Exportar Reporte Diario Mensual</div>
                <div class="detalle">
                    <br />Exporta el reporte diario mensual a un excel
                    que es interpretado por el sistema de ServSalud
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="boton color-rosa" routerLink="/servSalud/unidadOperativa">
                <i class="icono mdi mdi-transition-masked"></i>
                <div class="titulo">Unidad Operativa</div>
                <div class="subtitulo">Concepto turneable SNOMED a unidad operativa de ServSalud</div>
                <div class="detalle">
                    <br />-
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="boton color-coral" routerLink="/servSalud/codigoEstablecimiento">
                <i class="icono mdi mdi-office-building"></i>
                <div class="titulo">Código de Establecimiento</div>
                <div class="subtitulo">Gestiona el código del establecimiento en las organizaciones de ANDES</div>
                <div class="detalle">
                    <br />-
                </div>
            </div>
        </div>
    </div>
</plex-box>
